.case-study-container {
    font-family: 'Lexend', sans-serif;
    color: white;
    max-width: 1200px;
    margin: 0 auto;
    text-align: left;
}

.case-study-container h1 {
    text-align: center;
}

.case-study-spacer {
    margin: 4% auto;
    width: 50%;
    border-bottom: 1px solid #FFFFFF50;
    margin-bottom: 5%;
  }
  

.section {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 200px 0;
}



.section .image1 {
    width: 650px;
    margin-right: 100px;
}

.section .image2 {
    position: relative;
    left: 100px;
    width: 400px;
    margin-left: 300px;
    margin-right: 0;
}

.section.reverse img {
    margin-left: 20px;
    margin-right: 0;
}

.tech-stack {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 200px;
}




.tech-stack .tech-item {
    background-color: #FFFFFF20;
    padding: 25px 75px;
    margin: 20px;
    border-radius: 30px;
    font-size: 1.4rem;
    color: white;

  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 1);
  background-color: #CAC5CE90;
}

.case-study-container div h2 {
    font-size: 2.1rem;
    margin-bottom: 25px;
    margin-top: -40px
}

.case-study-container div p {
    font-size: 1.3rem;
}

.section-2-text {
    margin-top: -100px;
    width: 450px;

}

.design {
    width: 1000px;
    margin: auto;
    margin-bottom: 100px;
    margin-left: 70px;
}

.design-heading {
    margin-bottom: 25px;
}

.design-text {
    width: 150%;
}

.key-features {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.key-features.extra-padding {
    padding-top: 70px;
}

.key-features .feature-item {
    flex-basis: 45%;
    padding: 25px 75px;
    margin-bottom: 10px;
    font-size: 1rem;
}

.feature-item .feature-heading {
    font-size: 1.7rem;
    padding-bottom: 15px;
    font-weight: 700;
}

.feature-item .feature-text {
    font-size: 1.3rem;
}



.image3 {
    width: 650px;
    margin-right: 100px;
}

.image4 {
    position: relative;
    left: 150px;
    height: 500px;
    margin-left: 100px;
   }

.outcome {
    width: 110%;

}

@media (max-width: 1024px) {
    .tech-stack {
        display: none;
    }

    .navbar {
        width: 95%;
        margin-bottom: 40px;
    }

    .section, .section.reverse {
        flex-direction: column;
        width: 95%;
        margin: 0 20px;
        margin-top: 40px;
        
    }

    .case-study-container div h2, .case-study-container div p {
        margin: 40px 40px;
    }

    .section-2-text {
        width: 100%;
    }

    .image2, .image3, .image4 {
        display: none;
    }

    #root > div.content-container > div > div.case-study-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 5%;
    }

    .design-text, .outcome {
        width: auto;
    }

    .key-features {
        display: block;
    }

    .feature-item {
        padding: 25px 50px;
    }

    .section-2-text {
        margin-top: 0;
    }

    
    
}