.navbar {
    height: 100px;
    margin: auto;
    width: 75%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10%;
}

.brand {
    display: flex;
    align-items: flex-end;
}

.logo {
    height: 90%;

}

.nav-links {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 0.9rem;


    >a {
        margin: 0 15px;
        font-size: 1.2rem;
        font-family: 'Lexend', sans-serif;

    }
}

.github-link {
    padding-bottom: 10px;
}

.nav-links .link:last-child {
    margin-right: 0;
}


.link {
    padding: 10px;
    cursor: pointer;
}

.hamburger {
    font-size: 2rem;
    cursor: pointer;
    display: none;
}


/* Added hover effect for individual links */
.link:hover {
    background-color: #FFFFFF20;
}

/* Added hover effect for the hamburger icon */
.hamburger:hover {
    background-color: #555;
}

.nav-links.recentProjects .recentProjects-content,
.nav-links.services .services-content,
.nav-links.contact .contact-content {
    display: block;
}

.link.active {
    border-bottom: 2px solid red;

}


/* Media Queries */
@media (max-width: 939px) {

    .nav-links {
        display: none;
        flex-direction: row;
        align-items: flex-end;
        position: absolute;
        top: 100px;
        right: 0;
        width: 100%;
        font-weight: 700;
        padding: 0 20px 0 20px;
        font-family: 'Dosis', sans-serif;


    }

    .nav-links.open {
        margin-top: 10px;
        display: flex;
        max-width: 100%;
        justify-content: space-between;
        margin-bottom: 20px;
        padding-bottom: 20px;
        /* Adjust the value as needed */

    }

    .hamburger {
        display: flex;
        align-items: center;
        margin: 0 20px;
    }

    .nav-links .link:first-child {
        margin-left: 0;
    }

}

@media (max-width: 769px) {

    .nav-links {
        background: radial-gradient(circle at top left, rgba(255, 255, 255, 0.1), #281d42 15%);
        background-color: #281d42;
        align-items: flex-end;
        border-radius: 10px;
        width: 300px;
        flex-direction: column;
        overflow-y: visible;
        padding-bottom: 0px;
        text-shadow: 2px 2px 3px #000000;
        box-shadow: 7px 7px 8px #000000;

    }
.nav-links.open {
    padding-bottom: 0;
    padding-right: 0;
}

    .nav-links.open>a:nth-child(4) {
        padding: 10px 0px;
        margin-right: 22px;


    }

    .navbar {
        width: 100%
    }

    .logo {
        height: 50%;
        margin-left: 10px;
    }
    .hamburger {
        align-items: flex-end;
    }
}

@media (max-width: 321px) {
    .navbar {
        margin-bottom: 75px;
    }
}

/* Height Queries */
@media (max-height: 1000px) {
    .navbar {
        margin-bottom: 100px;
    }
  }

  @media (min-height: 1020px) {
    .navbar {
        margin-bottom: 250px;
    }
    
  }

  