.tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
    margin-top: 20px; 
    justify-content: flex-start;
    margin-top: 25px;
  }
  
  .tag {
    background-color:  #FFFFFF20; 
    border-radius: 10px; 
    padding: 5px 10px; 
    font-size: 0.85rem; 
    color: #FFFFFF; 
    white-space: nowrap;
  }
  