* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
  }
  
    .pointer-circle {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: rgba(95, 13, 13, 0.1); /* Adjust the color and opacity as needed */
      position: absolute;
    }

    a.brand {
        color: white; /* Set the color to black or any other color you prefer */
        text-decoration: none; /* Remove underline from the link */
    }
    
  
  