/* landing-area.css */


/* General Styles */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
  }

  .home {
    display: flex;
    justify-content: center;
    align-items: center;
  }
    
  .landing-content {
    max-width: 540px;
    margin: 0;
  }
  
  /* Text Container Styles */
  .text-container {
    text-align: start;
    line-height: 1;
    margin-bottom: 60px;
  }
  
  .tagline {
    color: white;
    font-size: 2.8rem;
    line-height: 3.4rem;
    font-family: 'Lexend', sans-serif;   
    margin-bottom: 30px;
  }
  
  .description {
    font-family: 'Lexend', sans-serif;   
    color: white;
    font-size: 2.0rem;
    line-height: 2.4rem;
    letter-spacing: -1px;
    word-spacing: 2px;
    margin-right: -140px
  }
  
  /* Buttons Container Styles */
.buttons-container {
  display: flex;
  justify-content: flex-start;
  margin-top: 60px;
}

/* Apply margin-right to the Link elements */
.buttons-container a {
  margin-right: 10%;
}

button {
  background: linear-gradient(300deg,
          hsl(248deg 100% 77%) 72%,
          hsl(239deg 100% 84%) 102%,
          hsl(232deg 100% 89%) 100%);
  -webkit-box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 1);
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 1);
  color: white;
  font-family: 'Lexend', sans-serif;
  border: 2px solid transparent;
  border-radius: 10px;
  width: 200px;
  height: 50px;
  border: none;
  font-size: 1.2rem;
  font-weight: 900;
  transition: all 0.1s ease; /* Smooth transition for the button press */
}

button:active {
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
  transform: translateY(3px); /* Slightly move the button down */
}

button:hover {
  cursor: pointer; /* Changes the cursor to a hand pointer when hovering */
}

.contact-button {
  background: linear-gradient(120deg,
          hsl(0deg 0% 100%) 45%,
          hsl(0, 1%, 86%) 91%,
          hsl(0, 1%, 84%) 100%);
  color: #110030;
}

  
  /* Media Queries for Responsiveness */
  @media (max-width: 600px) {

    .navbar {
      width: 100%;
    }

    .landing-content {
      padding: 10px;
    }
  
    .buttons-container {
      flex-direction: column;
      align-items: center;
    }
  
    button {
      margin: 0;
      width: 100%;
      margin-bottom: 20px;
    }
  }

  @media (max-width: 1025px) {

  .description {
    margin-right: 0px;
  }
  
}


@media (max-width: 426px) {
  .tagline {
    font-size: 2.2rem;
    line-height: 2rem;
  }

  .description {
    font-size: 1.2rem;
    line-height: 1.2rem;
  }
  
}

