/* Add this to your landing-area.css file */
.landing-content {
    max-width: 40%;
    margin: 0 auto;
    text-align: left;
  }
  
  .tagline {
    font-size: 3vw; /* Adjust the size as needed */
    margin-bottom: 4vh;
    margin-right: 2vw;

  }
  
  .description {
    font-size: 1.4vw; /* Adjust the size as needed */
    margin-bottom: 6vh;
    margin-right: -2vw;
  }

.buttons-container {
    display: flex;
}
  
button {
    background: linear-gradient(300deg,
            hsl(248deg 100% 77%) 72%,
            hsl(239deg 100% 84%) 102%,
            hsl(232deg 100% 89%) 100%);
    -webkit-box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 1);
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 1);
    color: white;
    border: 2px solid transparent;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    border: none;
    margin-right: 10%;
    font-size: 1.5rem;
    font-weight: 700;
}

.contact-button {
    background: linear-gradient(120deg,
            hsl(0deg 0% 100%) 45%,
            hsl(0, 1%, 86%) 91%,
            hsl(0, 1%, 84%) 100%);

    color: #110030;


}

@media (max-width:1024px) {
    .navbar {
        width: 100%
    } 

 

    .tagline {
        font-size: 30px;
        margin-bottom: 30px;
        margin: 30px 5% 5% 0;
    
    }

    
    
    .description {
        font-size: 20px;
        padding-bottom: 30px;
        margin: 0;
    
    }

    .navbar {
        flex-direction: row-reverse;
    }
    
    
}

@media (max-width:768px) {

    .tagline, .description {
       margin-right: 15%;
       margin-left: 15%;
    }
    .landing-content {
        max-width:75%;
    } 
    .buttons-container {
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    button {
        width: 80%;
        margin-bottom: 10px;
        margin-right: 0;
    }
    .navbar {
        flex-direction: row-reverse;
    }
}

@media (max-width:426px) {
    .description {
        display: none;
    }

}