/* navbar.css */
:root {
  --navbar-color: #2c2a2a;
}


.navbar {
  display: flex;
  margin: 15px 16%;
  padding: 0 30px;
  padding-left: 0;
  height: 9vh;
  justify-content: space-between;
  align-items: center;
  color: white;
  position: relative;
}



.brand {
  padding-left: 30px;
  display: flex;
  /* Add flex display to the brand */
  align-items: center;
  /* Center the content vertically */
  font-size: 1.5rem;
}



a.brand {

  color: white;
  text-decoration: none;
}

.nav-links {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.link {
  padding: 10px;
  cursor: pointer;
}

.hamburger {
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}


/* Added hover effect for individual links */
.link:hover {
  background-color: #555;
}

/* Added hover effect for the hamburger icon */
.hamburger:hover {
  background-color: #555;
}


@media (max-width: 939px) {
  .nav-links {
    display: none;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 10vh;
    right: 0;
    width: 100%;
  }

  .nav-links.open {
    display: flex;
    max-width: 50%;
  }

  .hamburger {
    display: block;
  }
}