/* navbar.css */
:root {
  --navbar-color: #2c2a2a;
}
.navbar {
  display: flex;
  margin: 15px 16%;
  margin-bottom: 20rem;
  padding: 0 30px;
  height: 9vh;
  justify-content: space-between;
  align-items:flex-end;
  color: white;
  position: relative;
}

.brand {
  display: flex;
  align-items: flex-end;
  font-size: 2rem;
}

.logo {
  max-width: 40%;
  height: 100%; /* Set the height to match the navbar */
  object-fit: contain; /* Maintain aspect ratio while fitting within the height */
}

.nav-links {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  font-size: 0.9rem;
  > a {
    margin: 0 15px;
  }
}

.link {
  padding: 10px;
  cursor: pointer;
}

.hamburger {
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}


/* Added hover effect for individual links */
.link:hover {
  background-color: #FFFFFF20;
}

/* Added hover effect for the hamburger icon */
.hamburger:hover {
  background-color: #555;
}

.nav-links.recentProjects .recentProjects-content,
.nav-links.services .services-content,
.nav-links.contact .contact-content {
  display: block;
}

.link.active {
  border-bottom: 2px solid red;

}


@media (max-width: 939px) {
  .nav-links {
    display: none;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 10vh;
    right: 0;
    width: 100%;
  }

  .nav-links.open {
    display: flex;
    max-width: 50%;
  }

  .hamburger {
    display: block;
  }
}
